<!--Header-->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!--Left arrow-->
    <p class="navbar-text pull-left">
      <a [routerLink]="['/user', 'website', websiteId, 'page', pageId, 'widget']" class="navbar-link">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
    </p>
    <span>
        <!--heading on the nav bar-->
        <p class="navbar-header pull-left">
            <a class="navbar-brand thick">
                <b>Widget Edit</b>
            </a>
        </p>
        </span>
    <!--tick mark-->
    <p class="navbar-text pull-right">
      <a  (click) = "updateWidget()"
          class="navbar-link">
        <span class="glyphicon glyphicon-ok"></span>
      </a>
    </p>

  </div>
</nav>

<!--Body of the page -->
<div class="container">
  <div *ngIf=flag
       class="alert alert-danger">
    {{error}}
  </div>
  Text
  <input [(ngModel)]="widget.text" class="form-control"/>
  Rows
  <input [(ngModel)]="widget.rows" class="form-control" type="number"/>

    <label for="Name">Name</label>
    <div>
      <input [(ngModel)]="widget.name"
             type="text"
             class="form-control"
             id="Name"
             name="name"
             placeholder="Name">
      <span class="alert-class"
            *ngIf=flag>{{alert}}</span>
    </div>

  Placeholder
  <input [(ngModel)]="widget.placeholder" class="form-control" required/>
  <p></p>
  <div class="input-group">
    <input type="text"
           readonly
           value="Formatted"
           class="form-control"/>
    <span class="input-group-addon">
        <input [(ngModel)]="widget.formatted"
               type="checkbox"/>
    </span>
  </div>

  <p></p>

  <a class="btn btn-danger btn-block "
     (click)="deleteWidget()">Delete</a>
</div>

<!-- Footer -->
<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid">
    <p class="navbar-text pull-right">
      <a [routerLink]="['/profile']">
        <span class="glyphicon glyphicon-user"></span>
      </a>
    </p>

  </div>
</nav>
